@import '~office-ui-fabric-react/dist/sass/References.scss';

.covid19Tracker {
  .container {
    background-color: $ms-color-white;

    .sectionTitle{
      @include ms-fontSize-xl;
      color:$ms-color-black;
      margin: 1rem 0;
    }

    .divider{
      border-bottom: 1px dashed gray;
    }

    .primaryLabel{
      @include ms-fontSize-l;
      color: gray;
    }
    .primaryCount{
      @include ms-fontSize-xxl;
      color: "[theme: themePrimary, default: #fecacd]";
      font-weight: 500;
      margin-bottom: 1rem;
      .change{
        display:inline-block;
        padding-left: 5px;

        @include ms-fontSize-s;
        .red{
          color:$ms-color-red;
        }
        .green{
          color:$ms-color-green;
        }
        .neutral{
          color:gray;
        }
        .up{
          &::before{
            content: "⮝";
          }
        }
        .down{
          &::before{
            content:"⮟"
          }
        }
      }
    }

    .statRow{
      @include ms-Grid-row;
      margin-bottom:0.5rem;
      .wrapper{
        .label{
          @include ms-fontSize-m;
          @include ms-Grid-col;
          @include ms-sm6;
  
          color: gray;
        }
        .count{
          @include ms-fontSize-m;
          @include ms-Grid-col;
          @include ms-sm6;

          color: $ms-color-black;
          .change{
            display:inline-block;
            padding-left: 5px;

            @include ms-fontSize-s;
            .red{
              color:$ms-color-red;
            }
            .green{
              color:$ms-color-green;
            }
            .neutral{
              color:gray;
            }
            .up{
              &::before{
                content: "⮝";
              }
            }
            .down{
              &::before{
                content:"⮟"
              }
            }
          }
        }
      }
    }

    .footNote{
      .dataSource{
        @include ms-fontSize-mi;
        float:left;
        width:50%;
        color: gray;
      }
      .date{
        @include ms-fontSize-xs;
        float: right;
        width:50%;
        color: gray;
        font-style: italic;
        font-weight: bold;
        text-align: right;
      }
    }
    
  }
}
