@import '~office-ui-fabric-react/dist/sass/References.scss';

.covid19Tracker {
  .container{
    .App {
      font-family: "Segoe UI", Arial;
      .loading{
        max-width: 250px;
        margin: 0 auto;
        background: lightgray;
        padding: 1rem;
        text-align: center;
      }
    }

    .footNote{
      .dataSource{
        @include ms-fontSize-mi;
        float:left;
        width:50%;
        color: gray;
      }
    }
    
    :global{
      .ms-Dialog-button--close, .ms-ComboBox-CaretDown-button{
        min-width: 10px;
        width: 10px;
      }
      .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      .lds-ellipsis :local div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      .lds-ellipsis :local div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis :local div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis :local div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }
      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(24px, 0);
        }
      }
    }
  }
}
